doctype html
head

  // Load Facebook SDK for JavaScript
  #fb-root
  script.
    window.fbAsyncInit = function() {
    FB.init({
    xfbml            : true,
    version          : 'v7.0'
    });
    };
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/nb_NO/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  // Your Chat Plugin code
  .fb-customerchat(attribution='setup_tool' page_id='104680997936481' theme_color='#fa3c4c' logged_in_greeting='Hei, hvordan kan jeg hjelpe deg i dag ?' logged_out_greeting='Hei, hvordan kan jeg hjelpe deg i dag ?')

  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  title pc repair
  // Bootstrap core CSS
  link(href='/stylesheet/bootstrap.css' rel='stylesheet')
  // Favicons
  link(rel='apple-touch-icon' href='/docs/4.4/assets/img/favicons/apple-touch-icon.png' sizes='180x180')
  link(rel='icon' href='/docs/4.4/assets/img/favicons/favicon-32x32.png' sizes='32x32' type='image/png')
  link(rel='icon' href='/docs/4.4/assets/img/favicons/favicon-16x16.png' sizes='16x16' type='image/png')
  link(rel='manifest' href='/docs/4.4/assets/img/favicons/manifest.json')
  link(rel='mask-icon' href='/docs/4.4/assets/img/favicons/safari-pinned-tab.svg' color='#563d7c')
  link(rel='icon' href='/docs/4.4/assets/img/favicons/favicon.ico')
  meta(name='msapplication-config' content='/docs/4.4/assets/img/favicons/browserconfig.xml')
  meta(name='theme-color' content='#563d7c')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
  // Custom styles for this template
  link(href='jumbotron.css' rel='stylesheet')
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
      li.nav-item.dropdown
        a#dropdown01.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
        .dropdown-menu(aria-labelledby='dropdown01')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
main(role='main')

block content



footer.container
  p &copy; PC Company 2017-2019
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\\/script>')
script(src='/docs/4.4/dist/js/bootstrap.bundle.min.js' integrity='sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm' crossorigin='anonymous')
